{% comment %}
    Renders a product card using "Grid" style
    Accepts:
    - max_height: {Number} Maximum height of the product's image (required)
    - product: {Object} Product Liquid object (required)
    - show_vendor: {Boolean} Show the product's vendor depending on the section setting (optional)

    Usage:
    {% include 'product-card-grid', max_height: max_height, product: product, show_vendor: section.settings.show_vendor %}
{% endcomment %}
{% assign has_multiple_variants = false %}
{% if product.variants.size > 1 %}
  {% assign has_multiple_variants = true %}
{% endif %}

{% assign has_multiple_options = false %}
{% if product.options.size > 1 %}
  {% assign has_multiple_options = true %}
{% endif %}


<div class="grid-view-item{% unless product.available %} grid-view-item--sold-out{% endunless %} product-card">
  <a class="grid-view-item__link grid-view-item__image-container full-width-link" href="{{ product.url | within: collection }}">
    <span class="visually-hidden">{{ product.title }}</span>
  </a>

  {% capture img_id %}ProductCardImage-{{ section.id }}-{{ product.id }}{% endcapture %}
  {% capture wrapper_id %}ProductCardImageWrapper-{{ section.id }}-{{ product.id }}{% endcapture %}
  {%- assign preview_image = product.featured_media.preview_image -%}
  {%- assign img_url = preview_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

  {% unless preview_image == blank %}
    {% include 'image-style', image: preview_image, height: max_height, wrapper_id: wrapper_id, img_id: img_id %}
  {% endunless %}

  <div class="product-card__image-with-placeholder-wrapper" data-image-loading-animation>
    <div id="{{ wrapper_id }}" class="grid-view-item__image-wrapper product-card__image-wrapper js">
      <div class="reveal" style="padding-top:{% unless preview_image == blank %}{{ 1 | divided_by: preview_image.aspect_ratio | times: 100 }}%{% else %}100%{% endunless %};">
        
        <img id="{{ img_id }}"
              class="grid-view-item__image lazyload brown-variant-image')"
              alt="{{ preview_image.alt }}"
              data-src="{{ img_url }}"
              data-sizes="auto"
              data-image>

        <img class="hidden {{ image.variants.first.title }} black-variant-image" src="{{ product.images[1] | img_url: '450x450' }}" alt="{{ product.images[1].alt | escape }}" />
        <img class="hidden white-variant-image" src="{{ product.images[2] | img_url: '450x450' }}" alt="{{ product.images[2].alt | escape }}" />
        
        <div class="options-fieldset">

        {% if has_multiple_options or has_multiple_variants %}
            {% for option in product.options_with_values %}
        {% assign option_name = 'option' | append: option.position %}

        {% if option.name == 'Frame' %}
          {% include 'product-option-row' with option: option, option_name: option_name, selected: selected, force_colors: true %}
        {% endif %}
      {% endfor %}
   {% endif %}
    </div>
    </div>
    </div>
  </div>

  <div class="h4 grid-view-item__title product-card__title" aria-hidden="true">{{ product.title }}</div>
  <div class="shop-button"><p class="orange-text">{{ 'collections.button.shop' | t}}</p></div>


</div>
